{% extends 'AppBundle:Layout:frontAppLayout.html.twig' %}


{% block navigation %}
  <nav class="navbar navbar-default navbar-default-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">bliTZ</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="col-xs-12">
            <br>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a class="btn btn-primary pull-right" href="{{ url('fos_user_security_logout') }}">Logout</a>
            {% else %}
              <a class="btn btn-primary" href="{{ url('fos_user_security_login') }}">Try it out</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="col-md-2">
      <div class="side-menu hidden-sm hidden-xs">


        <nav class="navbar navbar-default" role="navigation">

          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">bliTZ</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <li>
                <a href="{{ url('homepage') }}">
                  <img src="{{ asset('bundles/app/img/logo-2.svg') }}" height="70">
                </a>
              </li>
              <li>
                <a href="{{ url('judge.new.game') }}">
                  <span class="fa fa-plus fa-2x"></span>
                  New game
                </a>
              </li>
              <li>
                <a href="{{ url('leaderboard') }}">
                  <span class="fa fa-trophy fa-2x"></span>
                  Leaderboard
                </a>
              </li>
              <li>
                <a href="{{ url('judge.map.drawer') }}">
                  <span class="fa fa-map-marker fa-2x"></span>
                  Map
                </a>
              </li>
              <li>
                <a href="{{ url('judge.map') }}">
                  <span class="fa fa-cog fa-2x"></span>
                  Markers
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-md-10">
      {% block mainColumn %}
      {% endblock %}
    </div>
  </div>

{% endblock %}