{% extends 'AppBundle:Layout:frontAppLayout.html.twig' %}


{% block body %}
    <div id="loginPage">
        <div class="row-centered">
            <div class="col-md-4 col-centered modal-content">
                <h1>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h1>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p>
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </p>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}

                    {% if error %}
                        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}

                    <div class="col-md-10 col-md-offset-1 login-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="_username"
                                       value="{{ last_username }}"
                                       placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                                       required="required"/>
                            </div>

                            <div class="form-group">
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       name="_password"
                                       placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                                       required="required"/>
                            </div>

                            <div class="checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                </label>
                            </div>
                            <br>
                            <input
                                    type="submit"
                                    id="_submit"
                                    name="_submit"
                                    class="btn btn-primary btn-lg"
                                    value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                            <br>
                        </form>
                    </div>
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.reset'|trans({}, 'FOSUserBundle') }}
                    </a>
                    <a href="{{ path('fos_user_registration_register') }}">
                        Register
                    </a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
