{% extends 'AppBundle:Layout:frontAppSidebarLayout.html.twig' %}


{% block mainColumn %}
    <div class="col-md-12">

        {# navs tabs navigation #}
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active text-center">
                    <a href="#home" data-toggle="tab">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </li>
                <li class="text-center">
                    <a href="#location" data-toggle="tab">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </a>
                </li>
                <li class="text-center">
                    <a href="#rules" data-toggle="tab">
                        <i class="fa fa-flag-checkered fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="myTabContent" class="tab-content">

            {#General game info#}
            <div class="tab-pane fade active in" id="home">
                <div class="col-md-12" id="selectionNav">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-warning" id="randomize">Randomize</a>
                            <a class="btn btn-success" id="randomize">Start <i class="fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>

                {# Players #}
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" id="focusedInput" type="text" value="Queue" disabled>
                    </div>
                    <ul class="player-scroll connectedSortable queueList" id="sortable1" data-team="0"></ul>
                </div>

                {# Teams #}
                <div class="col-md-4" id="blue-team">
                    <div class="form-group">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Team A"
                               autofocus>
                    </div>

                    <ul class="team-selection connectedSortable" id="sortable2" data-team="1"></ul>
                </div>
                <div class="col-md-4" id="red-team">
                    <div class="form-group">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Team B">
                    </div>
                    <ul class="team-selection connectedSortable" id="sortable3" data-team="2"></ul>
                </div>


            </div>
            {#Location tab#}
            <div class="tab-pane fade" id="location">
                <div class="col-md-12">
                    <h2>Location</h2>
                </div>
            </div>

            {#Rules tab#}
            <div class="tab-pane fade" id="rules">
                <div class="col-md-12">
                    <h2>Rules</h2>

                    <form id="rulesForm" method="POST" action="{{ url('api.game.setup') }}">
                        <div class="alert alert-success" style="display: none"></div>
                        <div class="form-group">
                            <label for="inputLength">Game duration</label>
                            <input min="1" type="number" name="duration" class="form-control" id="inputLength"
                                   placeholder="Game duration">
                        </div>

                        <div class="form-group">
                            <label for="inputLength">Kill points</label>
                            <input min="1" type="number" name="killPoints" class="form-control" id="inputLength"
                                   placeholder="points">
                        </div>

                        <div class="form-group">
                            <label for="inputLength">Flag points</label>
                            <input min="1" type="number" name="flagPoints" class="form-control" id="inputLength"
                                   placeholder="points">
                        </div>
                        <input type="submit" class="btn btn-success btn-lg" value="Submit">
                    </form>

                </div>
            </div>
        </div>


    </div>


{% endblock %}

{% block customJsPlugins %}

    {{ parent() }}

    <script>

        function buildCard(id, title, img) {
            var li = $('<li/>').addClass('col-md-12 player-card')
                    .attr('data-id', id)
                    .append($('<div/>').addClass('col-md-4').append($('<img/>').addClass('img-responsive img-circle').attr('src', img)))
                    .append($('<div/>').addClass('col-md-8').append($('<h5/>').text(title)));

            return li;
        }

        function refreshQueue() {
            $.ajax({
                url: "{{ url('api.get.queue') }}",
                type: 'GET',
                dataType: 'JSON'
            }).done(function (data) {
                for (var i = 0; i < data.data.players.length; i++) {
                    var elem = data.data.players[i];
                    if ($('.player-card[data-id="' + elem.id + '"]').length != 0) {
                        continue;
                    }
                    $('.queueList').append(buildCard(elem.id, elem.alias, '/media/cache/resolve/postLeadingImageBig/uploads/images/default/' + elem.image.imageName));
                }
            });
        }

        function refreshTeam(id) {
            $.ajax({
                url: "{{ url('api.team.get') }}",
                data: {teamId: id},
                type: 'GET',
                dataType: 'JSON'
            }).done(function (data) {
                for (var i = 0; i < data.data.players.length; i++) {
                    var elem = data.data.players[i];

                    if ($('.player-card[data-id="' + elem.id + '"]').length != 0) {
                        continue;
                    }

                    $('.connectedSortable[data-team="' + id + '"]').append(buildCard(elem.id, elem.alias, '/media/cache/resolve/postLeadingImageBig/uploads/images/default/' + elem.image.imageName));
                }
            });
        }

        function joinTeam(elem) {
            var teamId = elem.attr("data-team");
            elem.sortable({
                deactivate: function (event, ui) {
                    var players = [];
                    elem.children("li.player-card").each(function () {
                        players.push($(this).attr('data-id'));
                    });

                    $.ajax({
                        url: "{{ url('api.team.join') }}",
                        type: 'POST',
                        dataType: 'JSON',
                        data: {players: players, team: teamId}
                    }).done(function (data) {

                    });
                }
            });
        }

        $(function () {

            refreshQueue();
            window.setInterval(refreshQueue, 1000);
            refreshTeam(1);
            refreshTeam(2);
            joinTeam($("#sortable2"));
            joinTeam($("#sortable3"));
            joinTeam($("#sortable1"));

            $("#rulesForm").on("submit", function (e) {
                e.preventDefault();
                e.stopPropagation();

                var data = $(this).serialize();
                $.ajax({
                    url: "{{ url('api.game.setup') }}",
                    type: 'POST',
                    dataType: 'JSON',
                    data: data
                }).done(function (data) {
                    if (data.status == 'ok') {
                        $("#rulesForm").children('.alert').text(data.message).fadeIn();
                    }
                });

            })


        });


    </script>

{% endblock %}